*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    /* background-color: rgb(255, 167, 167); */
    padding:34px;
    margin: auto;
}

.container h2{
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: 'Redressed', cursive;
    font-size: 48px;
    margin-bottom: 15px;
    text-shadow: #000000;
}
.container p{
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: 'Redressed';
    font-size: 24px;
    margin-bottom: 14px;
    text-shadow: #000000;
}


p.success {
    color: #00ff00;
    text-shadow: #ffffff;
    font-family: 'Redressed';
    background: #00000091;
    margin: 12px 7vw;
    border-radius: 12px;
    font-size: 22px;
}

::placeholder{
    color:rgb(224, 224, 224);
    opacity:1;
    font-weight: lighter;
    font-family: 'Redressed';
    font-size: 18px;
}

element.style {
    height: 50px;
    /* width: 492px; */
}

.container input{
    color:rgb(255, 255, 255);
    display: block;
    width: 80%;
    margin: 12px auto;
    padding: 12px;
    border-bottom: 7px solid rgb(255, 208, 0);
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    font-weight: bold;
    font-size: 14px;

}

.container textarea{
    /* display: block; */
    width: 80%;
    margin:12px auto;
    padding: 12px;
    color: white;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    border-bottom: 7px solid rgb(255, 208, 0);
    border-radius: 6px;
    outline: none;
    background: rgba(0,0,0,0.5);
    height: 150px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    display: block;
    margin: 8px auto;
    padding: 6px 15px;
    border-bottom: 5px solid rgb(255, 187, 0);
    outline: none;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.507);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#reset{
    color:rgb(255, 255, 255);
    display: block;
    width: 13%;
    margin: 8px auto;
    margin-top: 18px;
    padding: 6px 0.5vw;
    border-bottom: 5px solid rgb(255, 208, 0);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Redressed';
}

#submit{
    color:rgb(255, 255, 255);
    display: block;
    width: 18%;
    margin: 10px auto;
    padding: 10px;
    border-bottom: 6px solid rgb(255, 208, 0);
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Redressed';
}

.bg{
    position: absolute;
    z-index: -1;
    height: 120vh;
}